@mixin fonts($fz:null, $lh:null, $color:null, $fw:null) {
  font-size: $fz;
  line-height: $lh;
  color: $color;
  font-weight: $fw;
}
@mixin fontFace($ff, $fUrl, $name, $ext, $format, $weight ) {
  @font-face {
    font-family: $ff;
    src: url('../../fonts/#{$fUrl}/#{$name}.#{$ext}') format($format);
    font-weight: $weight;
  }
}
$robotoMono: ('Regilar', 400), ('Medium', 500), ('Bold', 700);
$icons: ('regular-400', 400), ('brands-400', 400);

@each $name, $weight in $robotoMono {
  @include fontFace('roboto mono', 'robotoMono/RobotoMono-', $name, 'ttf', 'truetype', $weight)
}
@each $name, $weight in $icons {
  @include fontFace('icons', 'icons/fa-', $name, 'ttf', 'truetype', $weight)
}

